* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #ccc;
}

.app {
  max-width: 350px;
  min-height: 550px;
  background-color: brown;
  border-radius: 16px;
  margin: 20px auto;
  background-image: url(./assets/cold-bg.jpg);
  background-repeat: no-repeat;
  box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.8), 
  inset 6px 6px 12px rgba(255, 255, 255, 0.4);
  opacity: 0.8;
  text-align: center;
}

/*Thanh điều hướng*/
.nav-bar {
  display: flex;
  justify-content: space-between;
}

.icon__nav {
  margin: 20px;
}

.clock-time {
  font-size: 16px;
  color: #080808;
}

.battery {
  font-size: 15px;
}

/* Hết thanh điều hướng */


/* Nội dung thời tiết */
.weather-city {
  margin-top: 2rem;
}

.icon-weather {
  margin: 35px;
}

.city-name {
  font-size: 30px;

}

.temperature {
  margin-top: 1rem;
  font-size: 60px;
}

.weather-name {
  margin-top: 0.5rem;
  font-size: 16px;
}

.temperature-information {
  display: flex;
  margin: 2rem;
  justify-content: space-between;
}

.temperature-information_humidity, .temperature-information_wind , .temperature-information_pressure {
  font-size: 15px;
  font-weight: 550;
}

.click-weather {
  margin-top: 150px;
}

/* Click buttton */

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  min-width: 100px;
  font-size: large;
  color: #fff;
  transition: opacity .2s ease;
}

.btn:hover {
  opacity: 0.8;
}

.btn + .btn {
  margin-left: 16px;
}

.btn-success {
  padding: 5px;
  background-color: #71be34;
}

.btn-warning {
  padding: 5px;
  background-color: #ffb702;
}

.btn-danger {
  padding: 5px;
  background-color: #ff632d;
}

/* Click button */